* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #02844d;
  --second-color: #fefdfb;
  --background-color: #000303;
  --p-color-in-light: #000303;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--main-color);
  font-size: 22px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.dark {
  background-color: var(--background-color);
  color: var(--second-color);
}

.light {
  background-color: var(--second-color);
  color: var(--main-color);
}

.padding {
  padding: 50px 0;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 20px;
    margin: 0 auto;
    width: 100%;
    max-height: 75px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #ffffffe2;
    backdrop-filter: blur(10px);

    .web_icon {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      padding: 0;
      margin: 0;
      list-style: none;

      li a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        font-weight: 500;
        outline: none;
        border: none;
        position: relative;
      }

      li a:after {
        content: "";
        position: absolute;
        background-color: var(--main-color);
        height: 1.5px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
      }

      li a:hover:after {
        width: 100%;
      }

      li a:hover {
        color: var(--main-color);
      }
      li a.active {
        color: var(--main-color);
      }
      li a.active::after {
        width: 100%;
      }
    }

    .singUp {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20%;
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        font-weight: 400;
        outline: none;
        border: 2px solid var(--main-color);
        position: relative;
      }

      a:hover {
        color: var(--main-color);
        color: var(--second-color);
      }
    }
  }
}

/* Home */

.home {
  .content-card {
    height: calc(100vh - 95px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 45px 0 0;
    width: 100%;

    .welcome {
      width: 50%;
      padding: 0 20px;
      margin: 0;
      text-align: center;

      h1 {
        color: var(--main-color);
        text-align: center;
        margin: 10px 0;
        font-weight: 400;
        margin-bottom: 20px;

        span {
          font-weight: 700;
        }
      }
      p {
        color: var(--second-color);
        text-align: center;
        margin-bottom: 40px;
      }

      a {
        transition: all 0.3s ease-in-out;
      }

      a:hover {
        transform: scale(1.1) translateY(-5px);
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .home-img {
      width: 40%;
      height: 100%;
      position: relative;
      animation: moveUp 1s ease-in-out infinite alternate;
      .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Projects Section */

.projects {
  .head-section {
    padding: 0 0 30px;
    h2 {
      color: var(--main-color);
      margin: 0 0 10px;
      font-weight: 700;
      font-size: 28px;
    }
    p {
      color: var(--p-color-in-light);
      text-align: center;
      margin-bottom: 0;
      font-weight: 400;
    }
  }

  .container-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;

    .project-card {
      width: 300px;
      height: 375px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border: 2px solid var(--main-color);
      padding: 10px;

      h3 {
        color: var(--main-color);
        margin: 10px 0;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
      }

      .project-img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05) translateY(-5px);
          box-shadow: 0px 0px 20px 0px #02844d;
        }
      }

      p {
        color: var(--p-color-in-light);
        text-align: center;
        margin: 10px 0;
        font-weight: 400;
      }

      &:hover {
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0px 0px 20px 0px #02844d;
      }

      a {
        text-decoration: none;
        color: var(--main-color);
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        font-weight: 500;
        outline: none;
        position: relative;
        padding: 5px 10px;
        width: 125px;
        text-align: center;
        margin: 0 87.5px;
        position: absolute;
        bottom: 10px;
        left: 0;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--main-color);
          bottom: 0;
          left: 0;
        }

        &:hover {
          background-color: var(--main-color);
          color: var(--second-color);
          box-shadow: 0px 0px 20px 0px #02844d;
          transform: scale(1.05) translateY(-5px);
        }
      }
    }
  }
}

/* footer */

.footer {
  background-color: var(--main-color);
  color: var(--second-color);
  text-align: center;
  padding: 10px 0;

  p {
    margin: 0;
    font-size: 16px;

    .name {
      font-weight: 700;
    }
  }
}
